* {
	margin: 0px;
}

#upper {
	width: 320px;
	height: 213px;
	background-color: black;
}

#item_list {
	position: relative;
	top: 12px;
	left: 20px;
	width: 277px;
	height: 105px;
}

.item {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
}
.item.active {
	border-style: solid;
	border-width: 3px;
	border-color: red;
	margin-left: -3px;
	margin-top: -3px;
}
.item:nth-of-type(1) {
	top: 0px;
	left: 5px;
}
.item:nth-of-type(2) {
	top: 0px;
	left: 60px;
}
.item:nth-of-type(3) {
	top: 0px;
	left: 115px;
}
.item:nth-of-type(4) {
	top: 0px;
	left: 170px;
}
.item:nth-of-type(5) {
	top: 0px;
	left: 225px;
}
.item:nth-of-type(6) {
	top: 55px;
	left: 5px;
}
.item:nth-of-type(7) {
	top: 55px;
	left: 60px;
}
.item:nth-of-type(8) {
	top: 55px;
	left: 115px;
}
.item:nth-of-type(9) {
	top: 55px;
	left: 170px;
}
.item:nth-of-type(10) {
	top: 55px;
	left: 225px;
}

#message {
	position: absolute;
	left: 25px;
	top: 125px;
	background-color: white;
	width: 260px;
	height: 70px;
	padding: 5px;
	border-radius: 10px;
	font-family: sans-serif;
	overflow: hidden;
}

#prompt {
	position: absolute;
	left: 265px;
	top: 175px;
	background-image: url('img/a_button.png');
	width: 25px;
	height: 25px;
	display: none;
}


#downer>div{
	position: relative;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 212px;
	display: none;
}
#downer>div>* {
	position: relative;
}

#armoire1 {
	background-image: url('img/armoire1.png');
}
#armoire2 {
	background-image: url('img/armoire2.png');
}
#armoire3 {
	background-image: url('img/armoire3.png');
}
#balcony {
	background-image: url('img/balcony.png');
}
#bedroom1 {
	background-image: url('img/bedroom1.png');
}
#bedroom1>#to_passage1 {
	left: 0px;
	top: 182px;
	width: 290px;
	height: 30px;
}
#bedroom1>#bed {
	left: 10px;
	top: 10px;
	width: 100px;
	height: 100px;
}
#bedroom2 {
	background-image: url('img/bedroom2.png');
}
#doorknob {
	background-image: url('img/doorknob.png');
}
#kitchen {
	background-image: url('img/kitchen.png');
}
#living1 {
	background-image: url('img/living1.png');
}
#living2 {
	background-image: url('img/living2.png');
}
#lounge {
	background-image: url('img/lounge.png');
}
#passage1 {
	background-image: url('img/passage1.png');
}
#passage2 {
	background-image: url('img/passage2.png');
}
#toilet {
	background-image: url('img/toilet.png');
}
#tv {
	background-image: url('img/tv.png');
}

.debug_area {
	background-color: blue;
	opacity: 0.5;
}