* {
	margin: 0px;
}

#upper {
	width: 320px;
	height: 213px;
	background-color: black;
}

.downer {
	position: relative;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 212px;
}

#item_list {
	position: relative;
	top: 12px;
	left: 20px;
	width: 277px;
	height: 105px;
}

.item {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
}
.item.active {
	border-style: solid;
	border-width: 3px;
	border-color: red;
	margin-left: -3px;
	margin-top: -3px;
}
.item:nth-of-type(1) {
	top: 0px;
	left: 5px;
}
.item:nth-of-type(2) {
	top: 0px;
	left: 60px;
}
.item:nth-of-type(3) {
	top: 0px;
	left: 115px;
}
.item:nth-of-type(4) {
	top: 0px;
	left: 170px;
}
.item:nth-of-type(5) {
	top: 0px;
	left: 225px;
}
.item:nth-of-type(6) {
	top: 55px;
	left: 5px;
}
.item:nth-of-type(7) {
	top: 55px;
	left: 60px;
}
.item:nth-of-type(8) {
	top: 55px;
	left: 115px;
}
.item:nth-of-type(9) {
	top: 55px;
	left: 170px;
}
.item:nth-of-type(10) {
	top: 55px;
	left: 225px;
}

#message {
	position: absolute;
	left: 25px;
	top: 125px;
	background-color: white;
	width: 260px;
	height: 70px;
	padding: 5px;
	border-radius: 10px;
	font-family: sans-serif;
	overflow: hidden;
}

#prompt {
	position: absolute;
	left: 265px;
	top: 175px;
	background-image: url('img/a_button.png');
	width: 25px;
	height: 25px;
	display: none;
}

#bedroom {
	background-image: url('img/bedroom.png');
}

#passage {
	background-image: url('img/passage.png');
	display: none;
}

.invisible {
	background-color: blue;
	opacity: 0.5;
}

#to_passage {
	position: absolute;
	top: 186px;
	left: 0px;
	width: 320px;
	height: 25px;
}